@import 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i';

body{
  font-family: 'Roboto', sans-serif;
}

/*************************************************************************************************************
                                                DEFAULTS
**************************************************************************************************************/

.padding20{
  padding: 20px;
}

.width234{
  width: 234px;
}

.width474{
  width: 474px;
}

.width478{
  width: 478px;
}

.width90p{
  width: 90%;
}

.marginBottom95{
  margin-bottom: 95px;
}

.marginLeft3{
  margin-left: 3px;
}

.marginRight3{
  margin-right: 3px;
}

.justify{
  text-align: justify;
}

.borderGrayTop{
  border-top: 1px solid #71758d;
}

.borderGrayBottom{
  border-bottom: 1px solid #71758d;
}

/*************************************************************************************************************
                                                COTIZADOR P1
**************************************************************************************************************/

.containerWrapper{
  background-color: #f1f3fa;
  border-top: solid 5px #252d60;
}

.cotizador-header{
  background-color: #f8f9fc;
  margin-bottom: 30px;
}

.cotizador-bg{
  background-image: url(images/car.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 400px;
}

.cotizador-rightside{
  position: relative;
}

.cotizador-box-container{
  border-radius: 2px;
  background-color: #f8f9ff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  top: 110%;
  left: -6%;
  z-index: 10;
}

.cotizador-box{
  border-radius: 2px;
  /*background-color: #f8f9ff;*/
  border: solid 1px #dfe2f4;
}

.marker {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to right, #e3e5f3, #fff);
  color: #1c2b8a;
  position: absolute;
  top: 30%;
  left: -8%;
  padding: 20px 20px 15px 20px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 900;
  text-align: left;
  z-index: 20;
}

.cotizador-p1-buttons{
  position: relative;
  z-index: 30;
}

.elige-un-modelo{
  margin-top: 10px;
  position: relative;
  left: -6%;
}

.oval1{
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #de8695, #ba4f5c);
}

.oval2{
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #676767, #000000);
}

.oval3{
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #cbcbcb, #9b9b9b);
}

.cobalto, .negro , .plata {
  font-size: 18px;
  font-weight: normal;
  color: #b4b8d4;
}
