@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
                                                /** LOGIN **/
*{
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
}

body{
  font-family: "Nunito", sans-serif;
  font-weight:300;
  background-color: #F1F3FA;
}

.clearFloat{
  clear: both;
}

.floatRight{
  float: right;
}

.floatLeft{
  float: left;
}

.body7a{
  background-color: #2c2e3c;
}


/**********************************************************
                    DEFAULTS
**********************************************************/
.lightBlue{
  color: #298df5;
}

.borderRadius10{
  border-radius: 10px;
}

.borderRadius2{
  border-radius: 2px;
}

.blue-shadow{
  box-shadow: 0 6px 15px 0 #298df5;
}

.bold{
  font-weight: bold;
}


.facebookColor{
  border-radius: 2px;
  background-image: linear-gradient(253deg, #6187c0, #4f75ad);
  box-shadow: 0 11px 19px 0 #b8bdcd;
}

.googleColor{
  border-radius: 2px;
  background-image: linear-gradient(253deg, #ef6559, #dc4e41);
  box-shadow: 0 11px 19px 0 #b8bdcd;
}


.Button{
  width: 201px;
  height: 45px;
  border-radius: 100px;
  background-color: #298df5;
}

.ButtonGray{
  width: 201px;
  height: 45px;
  border-radius: 100px;
  background-color: #98a1ae;
}

.darkGray{
  background-color: #98a1ae;
}

.lightGrayBG{
  background-color: #f8f9fc;
}

.solicitudBox{
  background-color: #ffffff;
  box-shadow: 0 6px 9px 0 rgba(219, 220, 232, 0.5);
}

.solicitudWhiteBox {
  background-color: #ffffff;
  box-shadow: 0 6px 9px 0 rgba(219, 220, 232, 0.5);
}

.blueButton{
  background-image: linear-gradient(232deg, #59c4fb, #2d91f6);
  box-shadow: 0 0 7px 0 #298df5;
  color:#FFF;
}

.whiteContainer{
  border-radius: 2px;
  background-color: #f8f9ff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 99999px;
}

.searchBox {
  width: 242px;
  border-radius: 25px;
  background-color: #ffffff;
  border: solid 1px #dfe2f4;
  margin: auto;
}

.grayBorderBox{
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 6px 9px 0 rgba(219, 220, 232, 0.5);
  border: solid 1px #d4dbe6;
  padding: 10px 0px;
}

.gray{
  color: #71758d;
}

.gray2{
  color: #98a1ae;
}

.lightGray{
  color:#9da2be;
}

.tableTitleColor{
   color: #6c7582;
}

.tableDescriptionColor{
  color: #7e8fa6;
}

.textUpper{
  text-transform: uppercase;
}

.textlower{
  text-transform: lowercase;;
}

.font11{
  font-size: 11px;
}

.font12{
  font-size:12px;
}

.font13{
  font-size: 13px;
}

.font14{
  font-size:14px;
}

.font16{
  font-size: 16px;
}

.font18{
  font-size: 18px;
}

.font19{
  font-size: 19px;
}

.font20{
  font-size: 20px;
}

.font22{
  font-size: 22px;
}

.font24{
  font-size: 24px;
}

.font25{
  font-size: 25px;
}

.font30{
  font-size: 30px;
}

.font35{
  font-size: 35px;
}

.font40{
  font-size: 40px;
}

.font45{
  font-size: 45px;
}

.font50{
  font-size: 50px;
}

.center{
  text-align:center;
}

.left{
  text-align: left;
}

.block{
  display: block;
}

.inline{
  display: inline-block;
}

.greenBox{
  width: 133px;
  height: 43px;
  border-radius: 4px;
  background-color: #33c56e;
  box-shadow: 0 0 4px 0 rgba(51, 197, 110, 0.5);
}

.grayRectangle{
  width: 154px;
  border-radius: 2px;
  background-color: #98a1ae;
}

.colorWhite{
  color: white;
}

.notificationBox{
  width: 62px;
  border-radius: 100px;
  background-color: #fb5e48;
  height: 28px;
}

.checkBox{
  width: 24px;
  height: 24px;
}

.whiteCheckBox{
  background-color: #f8f9ff;
  box-shadow: inset 0 -1px 0 0 #71758d;
  border: solid 1px #dfe2f4;
}

.slash{
  font-size: 30px;
}

.autoMargin{
  margin: auto;
}

.colorblue{
  color: #2d91f6;
}

.formTitleColor{
  color: #1c2b8a;
}

.darkBluetitle{
  color: #252d60;
}

.orange{
  color: #fb5e48;
}

.descriptionColor{
  color: #f1f3fa;
}

.headingColor{
  color: #298df5;
}

.tableTitleColor{
   color: #6c7582;
}

.colorRed{
  color: #fb5e48;
}

.greenTitle{
  color: #33c56e;
}

.buttonOrange{
  background-color: #fb5e48;
  box-shadow: 0 0 7px 0 #fb5e48;
}

.backgroundGrayColor{
  background-color:#9da2be;
}
/**********************************************************************************************************************************************************************************
                                                                      WIDTH

/**********************************************************************************************************************************************************************************/
.width36{
  width: 36px;
}

.width54{
  width: 54px;
}

.width59{
  width: 95px;
}


.width60{
  width: 60px;
}

.width66{
  width: 66px;
}

.width100{
  width: 100px;
}

.width110{
  width: 110px;
}

.width116{
  width: 116px;
}

.width120{
  width: 120px;
}

.width150{
  width: 150px;
}

.width160{
  width: 160px;
}

.width166{
  width: 166px;
}


.width169{
  width: 169px;
}

.width200{
  width: 200px;
}
.width206{
  width: 206px;
}

.width87{
  width: 87px;
}

.width169{
  width: 169px;
}

.width109{
  width: 109px;
}

.with150{
  width: 150px;
}


.width219{
  width: 219px;
}
.width228{
  width: 228px;
}

.width210{
  width: 210px;
}

.width225{
  width: 225px;
}

.width235{
  width: 235px;
}

.width240{
  width: 240px;
}

.width274{
  width:274px;
}

.width290{
  width: 290px;
}

.width287{
  width: 287px;
}

.width299{
  width: 299px;
}

.width300{
  width: 300px;
}

.width310{
  width: 310px;
}

.width320{
  width: 320px;
}

.width322{
  width: 322px;
}

.width337{
  width: 337px;
}

.width350{
  width: 350px;
}

.width354{
  width: 354px;
}

.width375{
  width: 375px;
}

.width380{
  width: 380px;
}

.width388{
  width: 388px;
}

.width385{
  width: 385px;
}

.width474{
  width: 474px;
}

.width500{
  width: 500px;
}

.width550{
  width: 550px;
}

.width505{
  width: 505px;
}

.width512{
  width: 512px;
}

.width520{
  width: 520px;
}

.width529{
  width: 529px;
}

.width570{
  width: 570px;
  margin: auto;
}

.width600{
  width: 600px;
  margin: auto;
}

.width670{
  width: 670px;
}

.width700{
  width: 700px;
  margin: auto;
}

.width800{
  width: 800px;
  margin: auto;
}

.width850{
  width: 850px;
  margin: auto;
}

.width920{
  width:920px;
}

.width950{
  width: 950px;
}

.width975{
  width: 975px;
}

.width998{
  width: 998px;
}

.width95{
  width: 95.41015625%;
}

.width83{
  width: 83px;
}

.width164{
  width: 164px;
}

.width303{
  width: 303px;
}

.width85{
  width: 85px;
}

.width65p{
  width: 65%;
}

.width75p{
  width: 75%;
}

.width80p{
  width: 80%;
}

.width85p{
  width: 85%;
}

.width234{
  width: 234px;
}


.width430{
  width: 430px;
}

.width446{
  width: 446px;
}

.width466{
  width: 466px;
}



.width478{
  width: 478px;
}


.width90p{
  width: 90%;
}

.width95p{
  width: 95%;
}

.width60p{
  width: 65%;
}

.width76p{
  width: 76%;
}

.lineHeight45{
  line-height: 45px;
}

.lineHeight60{
  line-height: 60px;
}

.borderLine{
  width: 504px;
  border: solid 1px #9da2be;
  margin: auto;
}

.border1{
  border: solid 1px #b4b8d4;
}

.radius100{
  border-radius:100px;
}

.textUpper{
  text-transform: uppercase;
}

.textlower{
  text-transform: lowercase;;
}

.letterspacing0.5{
  letter-spacing: 0.5px;
}

.letterspacing0.8{
  letter-spacing: 0.8px;
}

.letterspacing1{
  letter-spacing: 1px;
}
.letterspacing1.1{
  letter-spacing: 1.1px;
}

.letterspacing1.4{
  letter-spacing: 1.4px;
}
.letterspacing1.5{
  letter-spacing: 1.5px;
}

.letterspacing1.8{
  letter-spacing: 1.8px;
}

.letterspacing2{
  letter-spacing: 2px;
}

.letterspacing2.3{
  letter-spacing: 2.3px;
}


.left{
  text-align: left;
}

.displayInline{
  display: inline-block;
}
/*****************************************************************************************************
                          LoadingBar
/*****************************************************************************************************/
.width24{
  width:24px;
}

.width46{
  width: 46px;
}

.width75{
  width: 75px;
}

.width140{
  width: 140px;
}

.width145{
  width: 145px;
}

.width230{
  width: 230px;
}

.width324{
  width: 324px;
}

.width400{
  width: 400px;
}

.borderBlue{
  border: solid 2px #298df5;
}

.borderGray{
  border: solid 2px #9da2be;
}

.borderGrayRight{
  border-right: solid 1px #b4b8d4;
}

.borderGrayLeft{
  border-left: solid 1px #b4b8d4;
}

.borderGrayTop{
  border-top: solid 1px #b4b8d4;
}

.borderGrayBottom{
  border-bottom: solid 1px #b4b8d4;
}

.gradientBlue{
  background-image: linear-gradient(to left, #59c4fb, #2d91f6);
}


.justify{
  text-align: justify;
}


.LoadingLine{
  width: 361px;
  height: 2px;
  background: #298df5;
  margin-top: 38px
}

.line18{
  width: 18px;
  background-color: #D4DBE6;
  height: 5px;
  margin-top: 44px;
}

.whiteBox{
  border-radius: 2px;
  background-color: #f8f9ff;
  box-shadow: inset 0 -1px 0 0 #71758d;
  border: solid 1px #dfe2f4;
}

.crosCircle{
  width: 29px;
  height: 29px;
  background-color: #D4DBE6;
  border-radius: 50px;
  margin-top: 31px;
}

.cross{
  color: #9da2be;
  font-size: 12px;
  text-align: center;
  padding-top: 6px;
}



.line270{
  width: 270px;
  height: 2px;
  border: solid 1px #9da2be;
  background: #9da2be;
  margin-top: 38px;
}

.line210{
  width:210px;
  height: 2px;
  border: solid 1px #9da2be;
  background: #9da2be;
  margin-top: 38px;
}


.circle{
  width: 14px;
  height: 14px;
  background-color: #9da2be;
  border-radius: 50px;
  margin-top: 33px;
}

.grayLine{
  width: 20px;
  height: 2px;
  border: solid 1px #d4dbe6;
  background: #d4dbe6;
  margin-top: 30px;
}

.colorGreen{
  background-color: #33c56e;
  box-shadow: 0 0 4px 0 rgba(51, 197, 110, 0.5);
}


/*********************** OPACITY *************************/

.opacity01{
  opacity: .1;
}

.opacity02{
  opacity: .2;
}

.opacity03{
  opacity: .3;
}

.opacity04{
  opacity: .4;
}

.opacity05{
  opacity: .5;
}

.opacity06{
  opacity: .6;
}

.opacity07{
  opacity: .7;
}

.opacity08{
  opacity: .8;
}

.opacity09{
  opacity: .9;
}

.opacity1{
  opacity: 1;
}

/****************************************************************************************************
                                FONT WEIGHT
****************************************************************************************************/

.fontWeight100{
  font-weight: 100;
}

.fontWeight200{
  font-weight: 200;
}

.fontWeight300{
  font-weight: 300;
}

.fontWeight400{
  font-weight: 400;
}

.fontWeight500{
  font-weight: 500;
}

.fontWeight600{
  font-weight: 600;
}

.fontWeight700{
  font-weight: 700;
}

.fontWeight800{
  font-weight: 800;
}

.fontWeight900{
  font-weight: 900;
}

/**********************************************************
                    DASHBOARD
**********************************************************/

.inputs{
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 0 #71758d;
  border: solid 1px #dfe2f4;
}

.graphBox{
  width: 480px;
  background-color: white;
  margin: 0 15px 43px 15px;
  height: 251px;
  border-radius: 2px;
  box-shadow: 0 6px 9px 0 rgba(219, 220, 232, 0.5);
}

.boxTitle{
  width: 480px;
  border-radius: 2px;
  background-color:#252d60;
}

.graphHeading{
  display: inline-block;
  font-size: 18px;
  padding: 14px 0 11px 24px;
  font-weight: 400;
}

.applicationsTitle{
  width: 990px;
  border-radius: 2px;
  background-color:#252d60;
  margin: 0 15px 0px 15px;
}

.applicationContainers{
  width: 990px;
  background-color: #ffffff;
  box-shadow: 0 6px 9px 0 rgba(219, 220, 232, 0.5);
  margin: 0 15px 2px 15px;
}

.width50{
  width: 50px;
  border-right: solid 1px #c4c7d8;
}

.width65{
  width: 65px;
}


.width88{
  width: 88px;
}

.width70{
  width: 70px;
}

.tableBorderRight{
  border-right: solid 1px #c4c7d8;
}

.tableBorderBottom{
  border-bottom: solid 1px #c4c7d8;
}

.loginBody{
  width: 100%;
  background: #F1F3FA;
}

.dashBordBody{
  width: 100%;
  background: #98a1ae;
}

.loginContainer{
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  position: absolute;
}

.loginlogoBox{
  width: 100%;
  height: 30px;
  padding-bottom: 20px;
}

.loginBox{
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 6px 9px 0 rgba(219, 220, 232, 0.5);
  background-color: #ffffff;
}

.dashBordBox{
  width: 100%;
  border-radius: 4px;
  background-color: #f6f8fd;
  box-shadow: 0 3px 8px 0 rgba(62, 66, 91, 0.5);
}

.loginlogo{
  width: 169px;
  position: relative;
}

.loginForm {
  z-index: 1;
  background: #FFFFFF;
  width: 100%;
  border-radius: 4px;
  margin: auto;
  box-shadow: 0 6px 9px 0 rgba(219, 220, 232, 0.5);
  position: relative;
}

.loginTitle{
  padding-top: 36px;
}

.formContainer{
  width:70%;
  margin:auto;
  padding:28px 0 28px;
}

.formLabel{
  width: 100%;
  display: block;
}

.emailLabel{
  padding-bottom: 13px;
}

.emailInput{
  margin-bottom: 31px;
}

.passwordLabel{
  padding-bottom: 11px;
}

.passwordInput{
  margin-bottom: 25px;
}


.cameraImage{
  margin-top: 95px;
  margin-bottom: 95px;
}

.formContainer input{
  width:calc(100% - 18px);
  width:-webkit-calc(100% - 18px);
  padding:10px 0 10px 18px;
}

.loginForm button {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background-image: linear-gradient(260deg, #59c4fb, #2d91f6);
  box-shadow: 0 0 7px 0 #298df5;
  margin-bottom: 31px;
}

.loginShadow{
  width: 90%;
  margin:auto;
  height: 59px;
  opacity: 0.49;
  mix-blend-mode: multiply;
  border-radius: 7px;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  background-color: #9da2be;
  transform: translate(0,-36px);
}

.appHeader{
  border-top: #181d3f 5px solid;
  background: #f8f9fc;
}

.logo{
  padding: 16px 0;
  width: 169px;
}

.menuBox{
  border-radius: 2px;
  background-image: linear-gradient(to bottom, #ffffff, #f8f9fc);
  box-shadow: 0 10px 17px 0 #dbdce8;
}

.menuIcon{
  text-align: center;
}

.menuBox ul{
  list-style: none;
}

.menuBox li{
  display:block;
}

.menuBox a{
  width: 110px;
  padding: 12px 14px;
  display: block;
}

.menuBox a:hover{
  background-image: linear-gradient(232deg, #59c4fb, #2d91f6);
  box-shadow: 0 0 7px 0 #298df5;
  color: white;
}
.menuBox a img{
  height:30px
}
.menuBox a.selected img{
  filter:brightness(20) grayscale(1);
  -webkit-filter:brightness(20) grayscale(1);
}

.menuBox a:hover img{
  filter:brightness(20) grayscale(1);
  -webkit-filter:brightness(20) grayscale(1);
}

.menuBox li a span{
  display:block;
  text-align:center;
}

.vermasLine{
  padding: 16px 0 15px 0;
}

.solicitudBody{
  background-color: #98A3B2;
}

/***********************************************************************************************************************************
                                                          CLEAR FORM 8
************************************************************************************************************************************/

.felicidades{
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 46px;
}

.felicidades h1{
  font-size: 25px;
  color: #1c2b8a;
}

.felicidadesP1{
  font-size: 18px;
  color: #1c2b8a;
  margin-top: 10px;

}

.felicidadesP2{
  font-size: 18px;
  color: #9da2be;
  margin-top: 2px;
}

.felicidadesP2 span{
  color: #7789ff;
}

.containerBox{
  border-radius: 2px;
  background-color: #f6f8fd;
  box-shadow: 0 3px 8px 0 rgba(62, 66, 91, 0.5);
  padding-bottom: 61px;
  margin-bottom: 155px;
}

.boxes8{
  background-color: #f8f9ff;
  box-shadow: inset 0 -1px 0 0 #71758d;
  border: solid 1px #dfe2f4;
  margin: 15px 0;
}

.boxes8 p{
  font-size: 14px;
  margin-left: 24px;
}

.titles8 h3{
  font-size: 16px;
  font-weight: bold;
}

.titles8 p{
  font-size: 14px;
  font-weight: 300;
}



/*********  FORMULARIO **********/

.foldersBox{
  margin-right: 75px;
}

.inputsFormulario{
  background-color: #F1F3FA;
  font-size: 35px;
  color: #9EA1BE;
  text-decoration: underline;
}

.inputsFormulario::-webkit-input-placeholder {
  color: #9EA1BE;
  text-decoration: underline;
}

.inputsFormulario:-moz-placeholder { /* Firefox 18- */
  color: #9EA1BE;;
}

.inputsFormulario::-moz-placeholder {  /* Firefox 19+ */
  color: #9EA1BE;;
}

.inputsFormulario:-ms-input-placeholder {
  color: #9EA1BE;;
}

.inputsFormularioB{
  background-color: #F1F3FA;
  font-size: 35px;
  color: #298df5;;
  text-decoration: underline;
}

.inputsFormularioB::-webkit-input-placeholder {
  color: #298df5;
  text-decoration: underline;
}

.inputsFormularioB:-moz-placeholder { /* Firefox 18- */
	color: #298df5;;
}

.inputsFormularioB::-moz-placeholder {  /* Firefox 19+ */
	color: #298df5;;
}

.inputsFormularioB:-ms-input-placeholder {
  color: #298df5;;
}

.formulariOptions{
  background-color: #F1F3FA;
  font-size: 35px;
  text-decoration: underline;
}

.formularioHeader{
  border-top: #181d3f 5px solid;
  background: #f8f9fc;
  border-bottom: solid 1px #b4b8d4;
  width: 100%;
}

.floatingHeader{
  width: 800px;
  margin: auto;
}

.infoBox{
  width: 977px;
  height: 60px;
  border-radius: 100px;
  background-color:#D4DBE6;

}

.infoBoxGreen{
  width: 925px;
  height: 60px;
  border-radius: 100px;
  background-color: #33c56e;
  box-shadow: 0 0 4px 0 rgba(51, 197, 110, 0.5);
}

.idDocs img{
  width: 90%;
}

.infoContainer4B{
  width: 910px;
}

.blueBox{
  width: 190px;
  height: 36px;
  border-radius: 100px;
  background-image: linear-gradient(258deg, #59c4fb, #2d91f6);
  box-shadow: 0 0 7px 0 #298df5;
}

.blueBoxLinkedIn{
  width: 111px;
  height: 36px;
  border-radius: 100px;
  background-image: linear-gradient(258deg, #59c4fb, #2d91f6);
  box-shadow: 0 0 7px 0 #298df5;
}

.blueBox1{
  border-radius: 100px;
  background-image: linear-gradient(258deg, #59c4fb, #2d91f6);
  box-shadow: 0 0 7px 0 #298df5;
}

.loadingBar{
  width: 450px;
  height: 10px;
  border-radius: 100px;
  background-color: #ced2d5;
}

.loadingActive{
  width: 190px;
  height: 10px;
  border-radius: 100px;
  background-image: linear-gradient(265deg, #62e4a7, #33c56e);
}

.infoContainer4c{
  width: 790px;
  margin: auto;
}

.folderContainer{
  width: 169px;
  height: 187px;
  background-color: #f8f9ff;
  box-shadow: inset 0 -1px 0 0 #71758d;
  border: solid 1px #dfe2f4;
}

.folderImage{
  margin: 77px 65px 23px 66px;
}

.rectangle407{
  width: 407px;
  border-radius: 100px;
  background-color: #d4dbe6;
}

.GrayButton{
  background-color: #d4dbe6;
}

.bodyGray{
  background-color:  #a7b2c0;
}


.pRelative{
  position: relative;
  top: 25%;
}

.size28{
  height: 28px;
}

.height37{
  height: 37px;
}

/****************************************************************************************************
                                Borders
****************************************************************************************************/
.borderTopGray{
    border-top:  solid 2px #b4b8d4;
}

.borderBottomGray{
  border-bottom:  solid 2px #b4b8d4;
}

.upldsInputCode{
  width: 83px;
  padding: 12px 0px 11px 19px
}

.upldsInputPhone{
  width: 233px;
  padding: 12px 0px 11px 19px;
}

.borderGray{
  border: solid 1px #c4c7d8;
}
  /*** header ***/

.salvadoConatiner{
  width: 130px;
  display: inline-block;
  height: 75px;
}

.salvadoTitle{
  display: inline-block;
  font-size: 9px;
  letter-spacing: 0.5px;
  text-align: right;
  color: #33c56e;
  width: 66px;
}

.urlBox{
  width: 242px;
  border-radius: 2px;
  background-color: #f1f3fa;
  border: solid 1px #71758e;
  margin: auto;
}

.urlContainer{
  margin: 19px 22px 18px 22px;
}

.userPicture{
  width: 36px;
  height: 36px;
  border: solid 1px #252d60;
  border-radius: 50px;
  margin: 20px 10px 10px 22px;
}

.userName{
  font-size: 18px;
  letter-spacing: 1.1px;
  color: #181d3f;
  display: inline-block;
}

.dropBox{
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #252d60;
}

.pasoBanner{
  background-color: #f8f9fc;
  box-shadow: 0 10px 17px 0 #dbdce8;
}

.borderGrayRight{
  border-right: solid 1px #b4b8d4;
}

.borderGrayLeft{
  border-left: solid 1px #b4b8d4;
}


.loadingBox{
  width: 42px;
  border-radius: 100px;
  background-image: linear-gradient(to left, #59c4fb, #2d91f6);
}

.loadingBox45{
  width: 60px;
  border-radius: 100px;
  background-image: linear-gradient(to left, #59c4fb, #2d91f6);
}

.blueCircle{
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: #298df5;
}

.grayCircle{
  width: 36px;
  height: 36px;
  background-color: #d4dbe6;
  border-radius: 50px;
  margin-top: 5px;
}

.rectangle250{
  width: 250px;
  height: 45px;
  border-radius: 100px;
  background-color: #d4dbe6;
}

.rectangle250Green{
  width: 250px;
  height: 45px;
  border-radius: 100px;
  background-color: #33c56e;;
}

.footerTextColor{
  color: #A8B2C0
}

.footerLine{
  width: 510px;
  height: 2px;
  border: solid 2px #d4dbe6;
  background-color: #d4dbe6;
}

.line60{
  width: 60px;
  height: 5px;
  background-color: #d4dbe6;
  margin-top: 20px;
}

.line20{
  width: 20px;
  height: 5px;
  background-color: #d4dbe6;
  margin-top: 20px;
}

.brandingBox{
  height: 80px;
  border-radius: 2px;
  background-color: #f8f9ff;
  box-shadow: inset 0 -1px 0 0 #71758d;
  border: solid 1px #dfe2f4;
}

.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  top: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}

.file-upload {
  position: relative;
  overflow: hidden;
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); 
}

.width440Container{
  width: 440px;
  margin: auto;
}

.progresoTitle{
   width: 91px;
   font-size: 9px;
   letter-spacing: 0.5px;
   text-align: right;
   color: #252d60;
   padding: 29px 23px 27px 28px;
   display: inline-block;
}

.formBox{
  width: 952.2px;
}

.footerContent{

}

.footerContainer{
  background-color: #F8F9FC;
  position: relative;
  padding: 20px 0 20px 0 ;
  width: 100%;
  bottom: 0;
}

.box4B{
  width: 977px;
  border-radius: 2px;
  background-color: #f6f8fd;
  box-shadow: 0 3px 8px 0 rgba(62, 66, 91, 0.5);
  padding-bottom: 50px;
}

.green{
  width: 160px;
  height: 80px;
  border-radius: 2px;
  background-color: #33c56e;
  box-shadow: 0 0 4px 0 rgba(51, 197, 110, 0.5);
}

.inPuts4B{
  width: 245px;
  height: 60px;
  border-radius: 2px;
  background-color: #f8f9ff;
  box-shadow: inset 0 -1px 0 0 #71758d;
  border: solid 1px #dfe2f4;
}

.inPuts4a{
  width: 277px;
  height: 60px;
  border-radius: 2px;
  background-color: #f8f9ff;
  box-shadow: inset 0 -1px 0 0 #71758d;
  border: solid 1px #dfe2f4;
}

.inPuts4B::-webkit-input-placeholder {
	color: #298df5;
}

:-moz-placeholder { /* Firefox 18- */
	color: #298df5;
}

:-moz-placeholder {  /* Firefox 19+ */
	color: #298df5;
}

:-ms-input-placeholder {
	color: #298df5;
}

.consultarBox{
  width: 385px;
  height: 45px;
  border-radius: 4px;
  background-image: linear-gradient(263deg, #59c4fb, #2d91f6);
  box-shadow: 0 0 7px 0 #298df5;
  margin-top: 35px;
}

.correctaBox{
  width: 140px;
  border-radius: 2px;
  background-color: #f8f9ff;
  box-shadow: inset 0 -1px 0 0 #71758d;
  border: solid 1px #dfe2f4;
}

.correctaBoxGreen{
  width: 140px;
  height: 60px;
  border-radius: 2px;
  background-color: #33c56e;
  box-shadow: 0 0 4px 0 rgba(51, 197, 110, 0.5);
}

.coneccionFallida{
  width: 385px;
  border-radius: 4px;
  background-color: #fb5e48;
  box-shadow: 0 0 7px 0 #fb5e48;
  padding: 5px 0 10px 0;
}

.loadingContainer{
  width: 600px;
  margin-left: 20%;
}

.happines{
  display: block;
  margin: auto;
}

.container7a{
  width: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  position: absolute;
  border-radius: 2px;
  background-color: #f8f9ff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);

}

/********************  cotizador **********************/

.conatinerWhite550{
  width: 550px;
  border-radius: 2px;
  background-color: #f8f9ff;
  box-shadow: 0 3px 8px 0 rgba(62, 66, 91, 0.5);
  margin-top: 13px;
}

.gradientround{
  width: 23px;
  height: 23px;
  border-radius: 100px;
  background-image: linear-gradient(to bottom, #5676e9, #2b41ce);
}

.boxGreen{
  background-color: #33c56e;
  box-shadow: 0 11px 19px 0 #b8bdcd;
}


.borderLeft{
  border-left:1px solid rgba(0, 0, 0, 0.3);;
}


.borderTopResumen{
  border-top: solid 2px #71758d;
}


.borderGrayButton{
  width: 145px;
  border-radius: 100px;
  border: solid 1px #71758d;
}

.containerWrapper{
  background-color: #f1f3fa;
  border-top: solid 5px #252d60;
}

.cotizador-header{
  background-color: #f8f9fc;
  margin-bottom: 30px;
}

.cotizador-bg{
  background-image: url(../images/car.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 400px;
}

.cotizador-rightside{
  position: relative;
}

.cotizador-box-container{
  border-radius: 2px;
  background-color: #f8f9ff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  top: 110%;
  left: -6%;
  z-index: 10;
}

.cotizador-box{
  border-radius: 2px;
  border: solid 1px #dfe2f4;
}

.marker {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to right, #e3e5f3, #fff);
  color: #1c2b8a;
  position: absolute;
  top: 30%;
  left: -8%;
  padding: 20px 20px 15px 20px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 900;
  text-align: left;
  z-index: 20;
}

.cotizador-p1-buttons{
  position: relative;
  z-index: 30;
}

.elige-un-modelo{
  margin-top: 10px;
  position: relative;
  left: -6%;
}

.elige-un-color{
  margin-top: 10px;
  position: relative;
  left: -6%;
}

.oval1{
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #de8695, #ba4f5c);
  vertical-align: bottom;
  margin-right: 10px;
}

.oval2{
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #676767, #000000);
  vertical-align: bottom;
  margin-right: 10px;
}

.oval3{
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #cbcbcb, #9b9b9b);
  vertical-align: bottom;
  margin-right: 10px;
}

.oval4{
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #519fcb, #0e189b);
  vertical-align: bottom;
  margin-right: 10px;
}

.cobalto, .negro , .plata, .azul {
  font-size: 18px;
  font-weight: normal;
  color: #b4b8d4;
}


.hide{
  display:none;
}

.opacityCont{
  opacity:.3;
}

.height100P{
  height: 100%;
}

.loading-bar-line{
  width: 453px;
  height: 6px;
  border-radius: 100px;
  background-color: #98a1ae;
}

.loading-bar-box{
  width: 62px;
  border-radius: 100px;
  background-color: #c4c7d8;
  box-shadow: 0 4px 10px 0 rgba(36, 45, 96, 0.3);
}

.loading-bar-number{
  font-size: 20px;
  font-weight: 500;
  color: #252d60;
}

.loading-bar-container{
  position: relative;
  margin-bottom: 50px;
}

.loading-bar-box{
  position: absolute;
  top: -15px;
  left: 50px;
}


.positionA{
  position: absolute;
  top: -15px;
  left: 50px;
}

/********************  Media **********************/

@media screen and (max-width:768px){

}


@media screen and (max-width:640px){
  .loginContainer {
    width: 96%;
    position: static;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    margin:30px auto;
  }

  .font14{
    font-size:3.5vw;
  }

}

.botonOpcionModal{
    vertical-align: middle; 
    width: 303px; 
    height: 80px; 
    border-radius: 2px; 
    background-color: #f8f9ff; 
    box-shadow: inset 0 -1px 0 0 #71758d; 
    border: solid 1px #dfe2f4;
}

.botonOpcionModal > img,
.botonOpcionModal > span {
  vertical-align: middle;
}

.imagenBotonModal{
    width: 40px; 
    height: 40px; 
    object-fit: contain; 
    background-image: linear-gradient(223deg, #59c4fb, #2d91f6); 
    background-image: linear-gradient(223deg, var(--sky-blue), var(--dodger-blue));
}